@charset "UTF-8";


* {
	margin: 0;
	padding: 0;
	font-family: Arial, Roboto, San Francisco;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #f0f0f0;
}

/* Header */
header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	box-shadow: 0 1px 8px #06623e;
	background: #06623e;
	left: 0;
	right: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	height: 3vh;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3vh;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

header a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: #033117;
}

/*Main*/
main{
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#top {
	height: 9vh;
}

h2{
	font-size: xx-large;
	margin: 3vh;
}

main section {
	width: 100vw;
	padding-bottom: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section>div {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#presentation {
	font-size: 1.1em;
	font-weight: 400;
}

#presentation img {
	width: 10vmax;
	border-radius: 50%;
	border: 5px solid #06623e;
	margin: 1vmin
}

#presentation strong{
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 50px;
}

#presentation em {
	font-size: 2em;
	font-weight: 500;
}

#presentation>div>*{
	margin-bottom: 1em;
}

#CV a{
	background: #06623e;
	color : white;
	padding: 1vmax;
}

#competences{
	background: linear-gradient(135deg,#06623e, #abea82);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#logos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#competences img{
	width: 5vw;
	margin: 4px;
	padding: 10px;
	border-radius: 3px;
	background: white;
}

#projets>div{
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.projet{
	width: 15vw;
	height: 40vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-bottom: 1vh;
	border: 5px solid #abea82;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #abea82;
	background: white;
}

.projet>img{
	margin: 10px;
}

.descriptionProjet{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	background: #abea82;
}

.subtitle{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subtitle>div{
	width: 20%;
}

.petitLogo {
	width: 40%;
}

.center-text{
	text-align: center;
}

#contact {
	background: linear-gradient(135deg, #f0f0f0, #abea82, #06623e);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#contact>div>div{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#contact img{
	width: 3vw;
}

footer {
	padding: 20px 50px;
	box-shadow: 0 -1px 8px #06623e;
	background: #06623e;
	left: 0;
	right: 0;
	height: 3vh;
}

@media screen and (min-width:501px) and (max-width: 1000px) {
	main section>div {
		width: 90vw;
	}

	.projet {
		width: 40vw;
		height: auto;
	}

	#projets>div {
		width: 90%;
	}
}

@media screen and (max-width: 500px){
	main section>div {
			width: 100vw;
		}

	.projet {
		width: 90vw;
		height: auto;
	}

	#projets>div {
		width: 100%;
	}
}